html, body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
}

#ogc-glossary {
  max-width: 900px;
  margin: 2em auto;
}

.glossary-letters {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 1em;
}

.glossary-letter {
  flex: 2em 0;
  font-size: 110%;
  text-align: center;
  cursor: pointer;
  padding: 0.2em 0;
}

.glossary-letters:after {
  content: "";
  position: absolute;
  width: 80%;
  margin: auto;
  height: 2px;
  background: #ddd;
  bottom: 0;
}

.glossary-letter.active {
  font-weight: bold;
  background: #ffdddd;
}

.glossary-letter:hover {
  background: #ffdddd;
}

.glossary-terms dt {
  font-weight: bold;
}

.glossary-terms dd {
  margin-bottom: 1em;
}

.glossary-search {
  display: flex;
  max-width: 500px;
  justify-content: center;
  gap: 10px;
  margin: 1em auto;
}

.glossary-search input {
  flex: 1;
}

.search-error {
  color: #bb0000;
  text-align: center;
  margin: 1em 0;
}